---

import HowToCard from '../../component/HowToCard.astro'
import Navbar from '../../component/Navbar.astro'
import { getHowTo } from '../../content'
import Page from '../../layout/Page.astro'

const howTos = await getHowTo()

---
<Page>
	<Navbar />
	<main class="bg-base-100 max-w-xl mx-auto px-4 flex flex-col justify-center align-middle">
		<ul class="list-none mx-auto mt-8 space-y-8">
			{howTos.map((howTo) => {
				return (
					<li>
						<HowToCard howTo={howTo} />
					</li>
				)
			})}
		</ul>
	</main>
</Page>

