<div class="max-w-lg mx-auto py-4 px-2">
	<nav class="flex justify-between">
		<div>
			<a class="text-2xl link font-sans font-bold" href="/">
				How to <span class="text-secondary">X</span> in <span class="text-primary">Y</span>
			</a>
		</div>
		<div>
			<ul>
				<li>
					<a class="link" href="/how-to">All Snippets</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<style>
	.link {
		@apply no-underline decoration-wavy decoration-accent;
	}
	.link:hover {
		@apply underline;
	}
</style>
